/* Spacing */
$spacing-500: 2.5rem;
$spacing-400: 2rem;
$spacing-300: 1.5rem;
$spacing-200: 1rem;
$spacing-100: 0.5rem;
$spacing-50: 0.25rem;


/* Colors */
$primary-color-500: hsl(158, 36%, 37%);
$primary-color-700: hsl(158, 42%, 18%);

$neutral-black: hsl(212, 21%, 14%);
$neutral-grey: hsl(228, 12%, 48%);
$neutral-cream: hsl(30, 38%, 92%);
$neutral-white: hsl(0, 0%, 100%);

/* Typography */
$font-family-1: 'Montserrat', sans-serif;
$font-family-2: 'Fraunces', serif;
