@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 0.875rem; /* 14px */
    background: $neutral-cream;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.product-preview-card {
    display: flex;
    flex-direction: row;

    .product-image {
    max-width: 18.75rem; /* 300px */
    border-radius: $spacing-100 0 0 $spacing-100;
    }

    .product-details {
    padding: $spacing-400;
    background: $neutral-white;
    max-width: 18.75rem; /* 300px */
    border-radius: 0 $spacing-100 $spacing-100 0;

        .product-type {
        @include text-preset-4;
        color: $neutral-grey;
        }

        h1 {
            @include text-preset-1;
            margin: $spacing-300 0 $spacing-300;
            color: $neutral-black;
        }

        .product-description {
            @include text-preset-3;
            color: $neutral-grey;
        }

    }

    .product-price-container {
    display: flex;
    margin: $spacing-400 0 $spacing-400;

    .product-price {
        @include text-preset-1;
        color: $primary-color-500;
    }

    .product-price-old {
        @include text-preset-5;
        color: $neutral-grey;
        margin-left: $spacing-200;
        text-decoration: line-through;
        align-self: center;
    }
    }

    .add-to-cart-button {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background: $primary-color-500;
        color: $neutral-white;
        padding: $spacing-200 $spacing-500;
        border: none;
        border-radius: $spacing-100;
        gap: $spacing-100;

        .button-text {
            @include text-preset-2;
        }

        &:hover {
            background: $primary-color-700;
        }
    }

}









